header(:style="{ 'background-image': 'url(' + getBestPhoto + ')' }")
	section(class="top-overlay")
	section(class="bottom-overlay")
	section(class="container")
		div(class="logo-container")
			router-link(to="/")
				div(class="logo")
					svg(xmlns="http://www.w3.org/2000/svg" width="454" height="228" viewBox="0 0 454 228")
						g(fill="none" fill-rule="evenodd")
							path(fill="#FFF" d="M225.364 106.24l-5.542 8.431a4.984 4.984 0 0 1-4.12 2.23 4.604 4.604 0 0 1-2.604-.797 4.75 4.75 0 0 1-1.104-6.828l7.63-9.896a1.577 1.577 0 1 1 2.49 1.937l-7.63 9.896a1.625 1.625 0 0 0 .385 2.333c.346.227.767.308 1.172.224.48-.096.901-.379 1.172-.786l5.542-8.464a1.562 1.562 0 1 1 2.604 1.714l.005.005zm21.776-38.022c-2.083-1.494-4.917-1.62-7.932-.343a18.26 18.26 0 0 0-7.464 6.27c-2.713 3.808-3.98 8.188-3.385 11.72a4.307 4.307 0 0 1-.183 2.083 1.562 1.562 0 0 0 2.959 1.005c.398-1.16.504-2.4.307-3.61-.453-2.692.64-6.286 2.849-9.375a15.104 15.104 0 0 1 6.151-5.208c1.146-.484 3.307-1.125 4.901 0 1.594 1.125 1.693 3.39 1.61 4.63a15.104 15.104 0 0 1-2.933 7.516c-2.208 3.125-5.255 5.307-7.948 5.755a7.453 7.453 0 0 0-4.026 2.052 1.563 1.563 0 0 0 2.182 2.235c.143-.14.295-.27.454-.391a4.307 4.307 0 0 1 1.88-.828c3.515-.589 7.27-3.214 9.984-7.026a18.266 18.266 0 0 0 3.505-9.125c.22-3.266-.817-5.886-2.911-7.38v.02zM224.63 87.38a6.984 6.984 0 0 0-.75-6.771l-9.292-12.969a1.563 1.563 0 0 0-2.542 1.818l9.281 12.98a3.849 3.849 0 0 1 .396 3.775 2.875 2.875 0 0 0 .328 2.927l17.188 22.23a1.484 1.484 0 1 1-2.412 1.729l-15.572-23.386a2.875 2.875 0 0 0-2.672-1.245 3.844 3.844 0 0 1-3.474-1.562l-9.287-12.98a1.562 1.562 0 0 0-2.541 1.818l9.296 12.98a6.99 6.99 0 0 0 6.178 2.88l15.473 23.255a4.568 4.568 0 0 0 3.01 1.98 4.61 4.61 0 0 0 4.49-7.349L224.63 87.38zm-7.172-2.084a1.562 1.562 0 0 0 1.265-2.473l-8.474-12.125a1.563 1.563 0 1 0-2.562 1.791l8.49 12.125c.292.418.77.667 1.28.667v.015z")
							path(stroke="#FFF" stroke-width="3.5" d="M3.2 1L227-222.8 450.8 1 227 224.8z")
			div(class="logo")
				svg(xmlns="http://www.w3.org/2000/svg" width="252" height="252" viewBox="0 0 252 252")
					g(fill="none" fill-rule="evenodd")
						path(stroke="#FFC5C5" stroke-width="3.5" d="M2.475 125.72L125.719 2.474l123.245 123.244-123.245 123.245L2.475 125.719z")
						path(fill="#FFC5C5" d="M137.537 110h-30.352a2.186 2.186 0 0 0-2.185 2.186v12.345c0 8.919 7.256 16.175 16.176 16.175 7.424 0 13.692-5.029 15.586-11.859h.775c5.197 0 9.425-4.227 9.425-9.423S142.734 110 137.537 110zm-4.558 14.531c0 6.51-5.295 11.804-11.803 11.804-6.509 0-11.805-5.295-11.805-11.804v-10.16h23.608v10.16zm4.558-.054h-.186V114.37h.186a5.06 5.06 0 0 1 5.054 5.054 5.06 5.06 0 0 1-5.054 5.052z")
		div(class="name")
			h1(:title="venue.name") {{ venue.name }}
		div(class="info")
			div(class="info-main")
				div(class="address")
					svg(xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11")
						path(fill="#FFF" fill-rule="evenodd" d="M1.335 7.78a4.56 4.56 0 0 1 0-6.445 4.56 4.56 0 0 1 6.445 0 4.56 4.56 0 0 1 0 6.445l-3.223 3.222L1.335 7.78zm3.222-.944a2.278 2.278 0 1 0 0-4.557 2.278 2.278 0 0 0 0 4.557z")
					template(v-if="venue.location")
						span {{ venue.location.address }}
				div(class="phone")
					svg(xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10")
						path(fill="#FFF" fill-rule="evenodd" d="M10.974 7.92a1.165 1.165 0 0 1-1.14 1.411H1.166a1.167 1.167 0 0 1-1.14-1.412A5.628 5.628 0 0 1 5.5 3.5a5.598 5.598 0 0 1 5.474 4.42zM1.168 3.623c.219 0 .44-.061.638-.19 1.1-.72 2.377-1.101 3.694-1.101 1.317 0 2.595.38 3.695 1.1a1.166 1.166 0 1 0 1.277-1.951A9.052 9.052 0 0 0 5.5 0 9.053 9.053 0 0 0 .528 1.482a1.166 1.166 0 0 0 .64 2.142z")
					template(v-if="venue.contact")
						span {{ venue.contact.formattedPhone }}
				div(class="info-bottom")
					div(class="people")
						svg(xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10")
							g(fill="#FFF" fill-rule="evenodd")
								circle(cx="4.688" cy="2.188" r="2.188")
								path(d="M4.788 8.891c2.494 0 4.245 2.495 4.245 0a4.516 4.516 0 0 0-9.033 0c0 2.495 2.293 0 4.788 0z")
						template(v-if="venue.stats")
							span {{ venue.stats.checkinsCount }}
					PriceIndicator(:price="venue.price")
			div(class="rating")
				span {{ ratingControl(venue) }}
