$color-venue-name: #fff;

.venue {
	display: inline-block;
	width: 290px;
	height: 290px;
	margin-bottom: 20px;
	overflow: hidden;
	text-decoration: none;
	background-color: #12195f;

	&:nth-child(odd) {
		margin-right: 20px;
	}

	.info {
		margin-top: 209px;
		color: $color-venue-name;

		h3 {
			margin-left: 18px;
			font-family: 'Gotham-Book';
			font-size: 25px;
		}

		hr {
			width: 48px;
			margin: 10px 0 10px 21px;
			border: 1px solid #c4c0ff;
		}

		&-bottom {
			margin-left: 20px;

			div {
				display: inline-block;
			}

			.people {
				span {
					margin-left: 7px;
					font-family: 'Gotham-Medium';
					font-size: 12px;
				}
			}

			.ticket {
				margin-left: 22px;

				hr {
					display: inline-block;
					margin: 0 0 2px 7px;
					border-width: 2px;
					border-radius: 100px;
				}
			}

			.rating {
				position: relative;
				float: right;
				right: 13px;
				top: 2px;
				width: 65px;
				height: 65px;
				transform: rotate(-45deg);
				background-color: #776cee;

				span {
					position: absolute;
					top: 15px;
					right: 12px;
					font-family: 'Gotham-Medium';
					font-size: 15px;
					transform: rotate(45deg);
				}
			}
		}
	}
}
