section
	HeaderVenueDetail
	section(class="container group")
		section(class="venue-detail")
			div(class="venue-detail-image venue-detail-owner")
				div(class="avatar")
					div(class="avatar-overlay")
						img(src="../../../assets/images/background.png")
				span Cem Ekici
			div(class="venue-detail-image")
			div(class="venue-detail-image")
			div(class="venue-detail-image")
			div(class="venue-detail-image")
			div(class="venue-detail-image")
			div(class="venue-detail-image")
			div(class="venue-detail-image")
		Tips
	section(class="container")
		hr
	Footer

