section(class="recent-searches")
	h2 RECENT SEARCHES
	hr
	div
		ul
			template(v-for="recentSearch in reverseRecentSearches")
				router-link(:to="{ path: 'venues', query: { location: recentSearch.location, query: recentSearch.query }}")
					li {{ recentSearch.query }} in {{ recentSearch.location }}
