section(class="recent-searches")
	h2 RECENT SEARCHES
	hr
	div
		ul
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
			router-link(to="/venues")
				li Pizza in Kadikoy
