$color-header-bg-gradient1: #1e0db4;
$color-header-bg-gradient2: #e44747;

header {
	height: 150px;
	background-image: linear-gradient(97deg, $color-header-bg-gradient1, $color-header-bg-gradient2);
	opacity: 0.8;

	section {
		height: inherit;

		.logo,
		.search {
			float: left;
		}

		.logo {
			margin: 0 58px 0 15px;
		}

		.search {
			margin-top: 53px;
		}
	}
}
