header
	div(class="logo")
	div(class="info")
		h1 Lorem ipsum dolor sit!
		h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	Search
