section
	HeaderVenues
	section(class="container group")
		section(class="venues")
			Venue
			Venue
			Venue
			Venue
			Venue
			Venue
			Venue
			Venue
			Venue
			Venue
		RecentSearches
	section(class="container")
		hr
	Footer
