section(class="tips")
	h2 TIPS
	hr
	div
		ul
			li
				div(class="avatar")
					div(class="avatar-overlay")
						img(src="../../../assets/images/background.png")
				div(class="comment")
					span Arzu Sendag
					p Güzel mekan çok sevdim.
			li
				div(class="avatar")
					div(class="avatar-overlay")
						img(src="../../../assets/images/background.png")
				div(class="comment")
					span Arzu Sendag
					p Güzel mekan çok sevdim.
			li
				div(class="avatar")
					div(class="avatar-overlay")
						img(src="../../../assets/images/background.png")
				div(class="comment")
					span Arzu Sendag
					p Güzel mekan çok sevdim.
			li
				div(class="avatar")
					div(class="avatar-overlay")
						img(src="../../../assets/images/background.png")
				div(class="comment")
					span Arzu Sendag
					p Güzel mekan çok sevdim.
	span All Tips
