section(class="tips")
	h2 TIPS
	hr
	div(class="tip-container" :class="{ 'show-all-tips': allTips }")
		ul
			li(v-for="tip in tips")
				div(class="avatar")
					div(class="avatar-overlay")
						img(:src="getUserPhoto(tip.user.photo)")
				div(class="comment")
					span {{ tip.user.firstName }} {{ tip.user.lastName }}
					p {{ tip.text }}
	div(class="all-tips" v-if="showAllTipsBtn")
		span(@click="toggleAllTips" v-show="!allTips") All Tips
		span(@click="toggleAllTips" v-show="allTips") Show Less
