$color-footer-link: #9b9b9b;

footer {
	height: 100px;
	text-align: center;
	background-color: white;

	div {
		padding-top: 44px;

		.link {
			font-family: 'Gotham-Medium';
			font-size: 12px;
			text-decoration: none;
			color: $color-footer-link;
			transition: color 200ms cubic-bezier(0.185, 0.54, 0.355, 1);

			&:nth-child(2) {
				margin: 0 18px;
			}

			&:hover {
				color: lighten($color-footer-link, 10%);
			}
		}
	}
}
