header
	div(class="logo")
		router-link(to="/")
			svg(xmlns="http://www.w3.org/2000/svg" width="454" height="228" viewBox="0 0 454 228")
				g(fill="none" fill-rule="evenodd")
					path(fill="#685DEA" d="M225.364 106.24l-5.542 8.431a4.984 4.984 0 0 1-4.12 2.23 4.604 4.604 0 0 1-2.604-.797 4.75 4.75 0 0 1-1.104-6.828l7.63-9.896a1.577 1.577 0 1 1 2.49 1.937l-7.63 9.896a1.625 1.625 0 0 0 .385 2.333c.346.227.767.308 1.172.224.48-.096.901-.379 1.172-.786l5.542-8.464a1.562 1.562 0 1 1 2.604 1.714l.005.005zm21.776-38.022c-2.083-1.494-4.917-1.62-7.932-.343a18.26 18.26 0 0 0-7.464 6.27c-2.713 3.808-3.98 8.188-3.385 11.72a4.307 4.307 0 0 1-.183 2.083 1.562 1.562 0 0 0 2.959 1.005c.398-1.16.504-2.4.307-3.61-.453-2.692.64-6.286 2.849-9.375a15.104 15.104 0 0 1 6.151-5.208c1.146-.484 3.307-1.125 4.901 0 1.594 1.125 1.693 3.39 1.61 4.63a15.104 15.104 0 0 1-2.933 7.516c-2.208 3.125-5.255 5.307-7.948 5.755a7.453 7.453 0 0 0-4.026 2.052 1.563 1.563 0 0 0 2.182 2.235c.143-.14.295-.27.454-.391a4.307 4.307 0 0 1 1.88-.828c3.515-.589 7.27-3.214 9.984-7.026a18.266 18.266 0 0 0 3.505-9.125c.22-3.266-.817-5.886-2.911-7.38v.02zM224.63 87.38a6.984 6.984 0 0 0-.75-6.771l-9.292-12.969a1.563 1.563 0 0 0-2.542 1.818l9.281 12.98a3.849 3.849 0 0 1 .396 3.775 2.875 2.875 0 0 0 .328 2.927l17.188 22.23a1.484 1.484 0 1 1-2.412 1.729l-15.572-23.386a2.875 2.875 0 0 0-2.672-1.245 3.844 3.844 0 0 1-3.474-1.562l-9.287-12.98a1.562 1.562 0 0 0-2.541 1.818l9.296 12.98a6.99 6.99 0 0 0 6.178 2.88l15.473 23.255a4.568 4.568 0 0 0 3.01 1.98 4.61 4.61 0 0 0 4.49-7.349L224.63 87.38zm-7.172-2.084a1.562 1.562 0 0 0 1.265-2.473l-8.474-12.125a1.563 1.563 0 1 0-2.562 1.791l8.49 12.125c.292.418.77.667 1.28.667v.015z")
					path(stroke="#FFF" stroke-width="3.5" d="M3.2 1L227-222.8 450.8 1 227 224.8z")
	div(class="info")
		h1 Lorem ipsum dolor sit!
		div
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
			p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	Search
