footer {
	height: 100px;
	text-align: center;
	background-color: white;

	div {
		padding-top: 44px;

		.link {
			font-family: 'Gotham-Medium';
			font-size: 12px;
			font-weight: 500;
			text-decoration: none;
			color: #9b9b9b;

			&:nth-child(2) {
				margin: 0 20px;
			}
		}
	}
}
