@font-face {
	font-family: 'Gotham-Medium';
	src:
		local('Gotham-Medium'),
		url('../../assets/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham-Light';
	src:
		local('Gotham-Light'),
		url('../../assets/fonts/Gotham-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham-Thin';
	src:
		local('Gotham-Thin'),
		url('../../assets/fonts/Gotham-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham-Book';
	src:
		local('Gotham-Book'),
		url('../../assets/fonts/Gotham-Book.otf') format('opentype');
}
