div(class="price")
	svg(xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10")
		path(fill="#FFF" fill-rule="evenodd" d="M.46 4.984a.997.997 0 0 1 .366-1.369L5.828.727c.479-.276 1.293-.36 1.808-.19l2.557.845c.52.172.85.752.742 1.286l-.541 2.646c-.11.538-.58 1.195-1.066 1.475L4.326 9.677a.995.995 0 0 1-1.368-.368L.46 4.984zm8.231-.521a1.167 1.167 0 1 0-1.166-2.021 1.167 1.167 0 0 0 1.166 2.02z")
	div(class="price-indicator")
		template(v-if="price")
			div(class="tier-1" v-show="price.tier >= 1")
			div(class="tier-2" v-show="price.tier >= 2")
			div(class="tier-3" v-show="price.tier >= 3")
			div(class="tier-4" v-show="price.tier == 4")
